@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
  max-width: 90%;
  width: 876px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}